<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenido a Élyséum</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="header-container">
        <h1>Restaurant Élyséum</h1>
        <p>"Cada plato, una obra maestra."</p>
        <div class="auth-buttons">
          <a href="{{ url_for('routes.register') }}" class="btn">Registro</a>
          <a href="{{ url_for('routes.login') }}" class="btn">Inicio</a>
        </div>
      </div>
    </header>

    <div class="container">
      <!-- Sección de botones en línea -->
      <section class="menu-buttons">
        <div class="button-container">
          <a href="{{ url_for('routes.menu') }}" class="btn">MENÚ</a>
          {% if 'user_id' in session %}
          <a href="{{ url_for('routes.reservar') }}" class="btn">Reservar</a>
          <a href="{{ url_for('routes.mis_reservas') }}" class="btn">Mis Reservas</a>
          <a href="{{ url_for('routes.logout') }}" class="btn">Cerrar sesión</a>
          {% else %}
          <p class="registro-texto">Realiza tu registro o inicia sesión para hacer tu reserva</p>
      {% endif %}
        </div>
      </section>

      <!-- Banner de imágenes -->
      <section class="banner">
        <div class="banner-images">
          <img
            src="{{ url_for('static', filename='images/banner3rest.jpg') }}"
            alt="Restaurante 1"
            class="banner-image"
          />
          <img
            src="{{ url_for('static', filename='images/banner2comida.jpg') }}"
            alt="Comida 1"
            class="banner-image"
          />
          <img
            src="{{ url_for('static', filename='images/banner1postre.jpg') }}"
            alt="Comida 2"
            class="banner-image"
          />
          <img
            src="{{ url_for('static', filename='images/banner4rest.jpg') }}"
            alt="Restaurante 2"
            class="banner-image"
          />
        </div>
      </section>
    </div>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <footer>
        <div class="footer-content">
            <!-- Información del Restaurante -->
            <div class="footer-info">
                <p><strong>Horario:</strong></p>
                <p>Lunes: Cerrado</p>
                <p>Martes a Domingo: 13:30 - 16:30 | 19:30 - 00:00</p>
                <p><strong>Dirección:</strong> Calle La Locura 24, Madrid</p>
            </div>
    
            <!-- Enlaces de Política y Contacto -->
            <div class="footer-links">
                <a href="#">Política de Privacidad</a>
                <a href="#">Contacto</a>
            </div>
    
            <!-- Iconos de Redes Sociales -->
            <div class="footer-social">
                <a href="https://facebook.com" target="_blank" rel="noopener">
                    <img src="{{ url_for('static', filename='/images/facebook.png') }}" alt="Facebook">
                </a>
                <a href="https://instagram.com" target="_blank" rel="noopener">
                    <img src="{{ url_for('static', filename='images/instagram.png') }}" alt="Instagram">
                </a>
            </div>
        </div>
    
        <!-- Derechos de Autor -->
        <p class="footer-copy">&copy; 2025 Élyséum. Todos los derechos reservados.</p>
    </footer>
    
  </body>
</html>
