<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Élyséum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Restaurant Élyséum</h1>
            <p>"Cada plato, una obra maestra."</p>
        </header>

        <section class="banner">
            <div class="banner-images">
                <img src="{{ url_for('static', filename='images/banner3rest.jpg') }}" alt="Restaurante 1" class="banner-image">
                <img src="{{ url_for('static', filename='images/banner2comida.jpg') }}" alt="Comida 1" class="banner-image">
                <img src="{{ url_for('static', filename='images/banner1postre.jpg') }}" alt="Comida 2" class="banner-image">
                <img src="{{ url_for('static', filename='images/banner4rest.jpg') }}" alt="Restaurante 2" class="banner-image">
            </div>
        </section>
        <section class="actions">
            <div class="button-container">
                <!-- Botón Menú -->
                <a href="{{ url_for('routes.menu') }}" class="btn">Menú</a>
        
                <!-- Pestañas de registro e inicio de sesión -->
                {% if 'user_id' in session %}
                    <a href="{{ url_for('routes.reservar') }}" class="btn">Reservar</a>
                    <a href="{{ url_for('routes.mis_reservas') }}" class="btn">Mis Reservas</a>
                    <a href="{{ url_for('routes.logout') }}" class="btn">Cerrar sesión</a>
                {% else %}
                    <a href="{{ url_for('routes.register') }}" class="btn">Registro</a>
                    <a href="{{ url_for('routes.login') }}" class="btn">Iniciar sesión</a>
                {% endif %}
            </div>
        </section>
    </div>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
